.name-list {
	text-align: center;
	padding: 5px 0;
	color: rgba(255, 255, 255, 0.644);
	border-bottom: 1px solid rgba(255, 255, 255, 0.414) ;
	margin: 0 20px;
	transition: all .2s linear;
}
.hero-name {
	color: inherit;
	text-decoration: none;
	font-size: 1.3rem;
	padding: 2px 0;
	font-weight: 400;
}
.name-list:hover {
	color: rgb(231, 186, 255) !important;
	border-bottom: 1px solid rgb(231, 186, 255);
	transform: scale(1.1);
}